@(message: String) @Main("Joyce Hoffman") {
<div class="container">
	<div class="row" style="margin-top: 20px">
		<div class="col-md-4">
			<div class="well">
				<div class="joyce-img2"></div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="well">
				<h1 style="margin-top: 0">Joyce Hoffman</h1>
				<p>Joyce Hoffman (born 1946/47) is an American surfer,
					considered a woman's pioneer in her sport. She is often regarded as
					the first female international surfing star and was one the
					first inductees of the International Surfing Hall of Fame.</p>

				<p>Born in Dana Point, California, Hoffman started competing at
					an early age. She went on to win numerous honors including the US
					Surfing Championship for Women from 1965-67 and the Makaha
					International Open in 1964 and 1966. In 1968, she became the first
					female to surf the Banzai Pipeline in Hawaii. Hoffman was also the
					top vote getter for Surfing Magazine International Hall of Fame
					Awards in 1966 and 1967. In 1969, the Los Angeles Times named her
					Woman of the Year, the only surfer to ever hold this distinction.</p>
			</div>
		</div>
	</div>
</div>
}
