body {
  padding-top: 0px; /* Move body of page below header. */
  margin: 0px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.bio-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.carousel-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 376px;  
}

.carousel-control {
  color: #000;
}

.header-img {
  background-image: url('../images/surfing_header.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 215px;
}

.carousel-caption {
  padding-bottom: 0px;
}

.carousel-indicators {
  bottom: 0px;
}