@(message: String) @Main("Eddie Aikahu") {
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="well">
                <div class="eddie-img2"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <h1 style="margin-top: 0">Eddie Aikau</h1>
                <p>Edward Ryan Makua Hanai Aikau (May 4, 1946 -
                    March 17, 1978) was a well-known Hawaiian lifeguard
                    and surfer. As the first lifeguard at Waimea Bay on
                    the island of Oahu, he saved many lives and became
                    well known as a big-wave surfer in his own right.</p>

                <p>In Aikau's honor, the surfwear company Quiksilver
                    sponsors the Quiksilver Big Wave Invitational in
                    Memory of Eddie Aikau at Waimea Bay. Since its
                    inception in 1984, the tournament has only been held
                    seven times, due to a precondition that open-ocean
                    swells reach a minimum of 20 feet (this translates
                    to a wave face height of over 30 feet).</p>
            </div>
        </div>
    </div>
</div>
}
