@(message: String) @Main("Home") {
<div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"
            class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="eddie-img"></div>
            <div class="carousel-caption">
                <h3>Eddie Aikahu</h3>
            </div>
        </div>

        <div class="item">
            <div class="joyce-img"></div>
            <div class="carousel-caption">
                <h3>Joyce Hoffman</h3>
            </div>

        </div>


        <div class="item">
            <div class="jake-img"></div>
            <div class="carousel-caption">
                <h3>Jake Marshall Ellis</h3>
            </div>

        </div>

        <div class="item">
            <div class="carousel-1"></div>
            <div class="carousel-caption">
                <h3>Micheal Ho</h3>
            </div>
        </div>

        <div class="item">
            <div class="malia-img"></div>
            <div class="carousel-caption">
                <h3>Malia Manuel</h3>
            </div>

        </div>

        <div class="item">
            <div class="kalanidavid"></div>
            <div class="carousel-caption">
                <h3>Kalani David</h3>
            </div>

        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic"
        data-slide="prev"> <span class="icon-prev"></span>
    </a> <a class="right carousel-control" href="#carousel-example-generic"
        data-slide="next"> <span class="icon-next"></span>
    </a>
</div>
}
