@(message: String) @Main("Jake Marshall Ellin") {
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="well">
                <div class="jake-img2"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <h1 style="margin-top: 0">Jake Marshall Ellis</h1>
                <p>Jake Marshall November 12, 1998 // Encinitas,
                    California</p>
                <p>What sets Jake apart from the current crop of
                    young talent is his drive to excel in his surfing,
                    and whatever else he takes aim at. He's fiercely
                    competitive, winning the Under-12 division at the
                    Surfing America Championships at Trestles last
                    summer as the youngest member of the USA team. But
                    his focus isn't limited to competitive surfing. Jake
                    is a straight-A student, and takes better care of
                    himself than most seasoned pros with a strict
                    vegetarian diet and a daily yoga regimen. With such
                    a solid base already established, he should have no
                    trouble moving up through the ranks in the coming
                    years.</p>
            </div>
        </div>
    </div>
</div>
}
