@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surfers: List[Surfer], listSize: Integer, pageNumber: Integer,
  search: List[Surfer], searchForm: Form[views.formdata.SearchFormData])
  
@import helper._
@import bootstrap3._
   
@Main(page, isLoggedIn, userInfo, searchForm) {
  <div class="container" style="padding-top:10px">
    <table class="table table-striped table-bordered">
    <tr><th></th><th>Name</th></tr>
       
    @for((surfer, index) <- search.zipWithIndex) { 
    <tr>
      @if(index < (pageNumber*15) && index >= ((pageNumber*15) - 15)) { 
      <td>@index</td>
      <td><a href="@routes.Application.getSurfer(surfer.getSlug())" class="btn">@surfer.getName()</a></td>
    </tr>}}
    </table>
    
    
        
    <!-- TODO: make pagination dynamic based on the surfer list size -->    
    <ul class="pagination">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <!-- Divide list size by 15 to get the number of pages -->
      @for(pagenum <- 1 to listSize) {           
      <li><a href="@routes.Application.getSearchResults(pagenum)">@pagenum</a></li>}               
      <li><a href="#">&raquo;</a></li>
    </ul>  
    
    
  </div>
}
