@(surferForm: Form[views.formdata.SurferFormData],
  page: String, isLoggedIn: Boolean, userInfo: UserInfo, searchForm: Form[views.formdata.SearchFormData])

@import helper._
@import bootstrap3._

@Main(page, isLoggedIn, userInfo, searchForm) {

<div class="container">
  @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="well">
                <div class="bio-img" style="background-image: url('@surferForm("bioURL").value');"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
              <h1 id="surferName">@surferForm("name").value</h1>
              <p id="surferHome"><strong>Home Town</strong>: @surferForm("home").value</p>
              <p id="surferAwards"><strong>Awards</strong>: @surferForm("awards").value</p>
              <p id="surferFoot"><strong>Foot style</strong>: @surferForm("foot").value</p>
              <p id="surferCountry"><strong>Country</strong>: @surferForm("country").value</p>
              <p id="surferBio"><strong>Biography</strong>: @surferForm("bio").value</p>
              
              @if(isLoggedIn) {       
              <a id="edit" href="@routes.Application.manageSurfer(surferForm("slug").value)" class="pull-left">Edit</a> 
              <a id="delete" data-toggle="modal" href="#delModal" class="pull-right">Delete</a>}
              <br>               
            </div>
        </div>
    </div>
  }
    <div class="modal fade" id="delModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Really delete surfer?</h4>
                </div>
                <div class="modal-body">
                    <p>This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button id="modalCancel" type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                    <a id="modalDelete" href="@routes.Application.deleteSurfer(surferForm("slug").value)" class="btn btn-primary">Delete</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
}